.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav > ul {
  margin: auto;
  width: 50vw;
  min-width: 15rem;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

nav > ul > li {
  padding: 1rem;
}

main {
  margin: 0.5rem;
  padding: 1rem;
  flex: 1 0 auto;
}

footer > ul {
  margin: auto;
  max-width: 20rem;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid black;
}
footer > ul > li {
  padding: 1rem;
}
